/* Adobe Fonts */
@import url("https://use.typekit.net/ngi2bbw.css");

body {
    background: azure;
    font-family: termina, sans-serif;
}

h3 {
    font-weight: 600;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

strong {
    font-weight: bolder;
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

@media only screen and (max-width: 768px) {

    h3 {
        font-size: 1.25em;
    }

    nav .brand-logo {
        font-size: 1em;
    }

}